.down-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
}

.down-sub-container {
    display: flex;
    text-align: center;
    width: 524px;
    height: fit-content;
    gap: 18px;
    background: white;
    border: 1px solid #0000004D;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 24px;
}

.go-to-change {
    display: flex;
    border: 1px solid #864AF9;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: white;
    border-radius: 8px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
    text-align: left;
    color: #864AF9;
    padding: 5px 24px;
    width: 80%;
    gap: 10px;
}

.successfully-text {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
    text-align: center;
}

#video-container-box {
    display: flex;
    width: 373px;
    height: auto;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

#videoPreviewContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#download-video {
    width: 100%;
}

.draft {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: white;
    border-radius: 8px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;

    line-height: 21.94px;
    text-align: left;
    color: #864AF9;
    width: 100%;
    padding: 12px 24px;
    border: 0.8px solid #864AF9;
    gap: 10px;
}

.draft-heading {
    line-height: 24px;
}

#downloadButton {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: #864AF9;
    border-radius: 8px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
    text-align: left;
    color: white;
    padding: 12px 24px;
    width: 100%;
    gap: 10px;
}

#download_text {
    line-height: 24px;
}

.watermark {
    margin-top: -15px;
    font-size: 12px;
    font-weight: 380;
}